
/* Mobile Nav Toggle */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/**Underline Hover Effect*/
.nav-item:hover {
	color: #8167a9 !important;
}
.nav-item.active {
	color: #777 !important;
}
/*
.nav-link {
	position: relative;
	padding: 5px 0 !important;
	display: inline-block;
}*/
.nav-item:after{
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 2px;
	content: '';
	/*background-color: #ff847c;*/
  background-color: #fff;
	opacity: 0;
    transition: all 200ms linear;
}
@media (max-width: 768px) {
.nav-item:after {
    background-color: #ffF;
  }
}
.nav-item:hover:after{
	bottom: 0;
	opacity: 1;
}
.nav-item.active:hover:after{
	opacity: 0;
}
.nav-item{
	position: relative;
    transition: all 200ms linear;
}
/**Underline Hover Effect*/
/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */
#nav-menu-container {
  float: right;
  margin: 0;
  display: block
}

@media (max-width: 768px) {
  #nav-menu-container {
    display: none;
  }
}

/* Nav Meu Styling */
.nav-menu-default a {
  padding: 0 8px 0px 8px;
  text-decoration: none;
  display: inline-block;
  /*color: #fff;*/
  /*font-size: 22px;*/
  outline: none;
  /*font-family: "Clicker Script", cursive;*/
  background: url(../images/sparkle.gif) repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-menu-fixed a {
  padding: 0 8px 0px 8px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.nav-menu > li {
  margin-left: 10px;
}

.nav-menu ul {
  margin: 4px 0 0 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff;
}

.nav-menu ul li {
  transition: 0.3s;
}

.nav-menu ul li a {
  padding: 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 13px;
  text-transform: none;
}

.nav-menu ul li:hover > a {
  color: #098a14;
}

.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

/*body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}*/
/*
/*****
.js .animate-box {
  opacity: 0;
}

.animated {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}/*
