@import url('https://fonts.googleapis.com/css?family=Alex+Brush|Roboto+Slab&display=swap');

@font-face {
  font-family: 'youreinvited';
  src: url('../fonts/YoureInvited.otf', format('opentype'));
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.8;
  color: #777777;
  color: #7f7f7f;
  background: #fff;
  height: 100%;
  position: relative;
}

a {
  color: #FFF;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #fff;
  outline: none;
}

p {
  margin-bottom: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-family: "Alex Brush", cursive;
  font-weight: 400;
}

::-webkit-selection {
  color: #818892;
  background: #f9f6f0;
}

::-moz-selection {
  color: #818892;
  background: #f9f6f0;
}

::selection {
  color: #818892;
  background: #f9f6f0;
}

/**Sheba edit**/
#header {
  padding: 20px 0 0 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 1050;
  background-color: #191919;
}

#header #logo {
  float: left;
}

#header .navbar-brand {
  float: left;
  display: block;
  font-size: 40px;
  padding: 8px 8px 10px 10px;
  font-family: "Alex Brush", cursive;
  background: url(../images/sparkle.gif) repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* font-weight: bold; */
  font-weight: 600;
  line-height: 24px;
  background-position: 10px;

}

#header .navbar li a {
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  color: #FF847C;
}

#header #logo h2 a, #header #logo h2 a:hover {
  color: #fff;
  font-weight: 500;
}

#header #logo img {
  padding: 0;
  margin: 0;
}

#header #navbar li a:hover {
  color: #FF847C !important;
}
#header #navbar li a span:before {
  background: transparent !important;
}
#header #navbar li.active a {
  background: transparent;
  background: none;
  color: #FFF!important;
}
#header #navbar li.active a span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

@media (max-width: 768px) {
  #header #logo h2 {
    font-size: 14px;/*28px;*/
    margin-top: 0;
  }
  #header #logo img {
    max-height: 40px;
  }
  #header .navbar-brand {
    float: left;
    display: block;
    font-size: 35px;
    padding: 10px 8px 10px 8px;
  }
}

.header-default{
	color: #FFF;
	padding: 30px 0;
	height: 72px;
  transition: all 0.5s;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.header-default .navbar-brand{
	color:#FFF;
}

.header-fixed {
  background-color: #191919;
  height: 72px;
  transition: all 0.5s;
}
.header-fixed .navbar-brand{
	color: #fff;
}

#nav-menu-container .nav-menu-fixed > ul > li > a{
  color: #ff847c;
}

#nav-menu-container .nav-menu-default > ul > li > a{
  color: #FFF;
}

.toggle-default i{
	/*color: #fff;*/
  /*margin: 16px 0px 0 0;*/
  background: url(../images/sparkle.gif) repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.toggle-fixed i{
	/*color: #fff;*/
  /*margin: 16px 0px 0 0;*/
  background: url(../images/sparkle.gif) repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: 1px;
}

  /* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1500;
  margin: 20px 10px 0px 0px;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
  font-family: "Clicker Script", cursive;
}

@media (max-width: 768px) {
  #mobile-nav-toggle {
    display: inline;
    font-family: "Clicker Script", cursive;
  }
}

/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 1600;
  background: linear-gradient(0deg,#ffffff75 ,#e09ea2);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
font-size: 30px;
overflow: hidden;
padding: 10px 22px 10px 15px;
position: relative;
text-decoration: none;
width: 100%;
display: block;
outline: none;
display: inline-block;
font-size: 16px;
font-family: "Source Sans Pro", Arial, sans-serif;
letter-spacing: 2px;
text-transform: uppercase;
line-height: unset;
}

#mobile-nav ul li a:hover {
  color: #fff;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #098a14;
}

#mobile-nav ul .menu-item-active {
  color: #098a14;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}

/**Glory Edit**/
/***Counter***/
.counter-area {
  display: block;
  position: relative;
  background: #191919;
  overflow: hidden;
  vertical-align: middle;
}
.counter-area .content {
  display: block;
  padding: 67px 0;
  background: #e09ea2;
  margin-right: 45px;
}
@media only screen and (max-width: 480px) {
  .counter-area .content {
    text-align: center;
    padding: 50px 0;
    margin: 0;
  }
}
.counter-area .content:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0px;
  width: 90px;
  margin-right: -30px;
  background: #e09ea2;
  -webkit-clip-path: polygon(0 0, 100% 0, 0 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 0 100%, 0% 100%);
}
@media only screen and (max-width: 992px) {
  .counter-area .content:before {
    display: none;
  }
}
.counter-area .content:after {
  content: '';
  position: absolute;
  right: 100%;
  margin-right: -15px;
  top: 0;
  bottom: 0;
  left: -500px;
  background: #e09ea2;
}
@media only screen and (max-width: 992px) {
  .counter-area .content:after {
    margin: 0;
    right: -500px;
  }
}
.counter-area .content p {
  font-size: 15px;
  color: #fff;
  margin: 0 0 20px;
  font-weight: 400;
  position: relative;
  z-index: 999;
  font-family: "Source Sans Pro", Arial, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.counter-area .content h2 {
  font-family: "Alex Brush", cursive;
  font-weight: 400;
  color: #fff;
  font-size: 60px;
  margin: 0;
  position: relative;
  z-index: 999;
}
.counter-area .content span {
  position: absolute;
  top: 58px;
  z-index: 999;
  right: 85px;
}
/*.counter-area .heart{
  height: inherit;
  padding-top: 50px;
  margin-left: 30px;
}*/
.counter-area .countdown {
  margin-bottom: 0;
  font-size: 45px;
  color: #fff;
}
.counter-area .countdown span {
  margin: 0 30px;
  display: inline-block;
  font-family: "Clicker Script", cursive;
}
.counter-area .countdown small {
  display: block;
  font-size: 14px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  letter-spacing: 10px;
  text-transform: uppercase;
}
@media only screen and (max-width: 480px) {
  .counter-area .content span {
    display: none;
  }
}
.counter-area .counter-list {
  margin-left: 70px;
  text-align: center;
  padding: 50px 0;
}
@media only screen and (max-width: 768px) {
  .counter-area .counter-list {
    margin: 0;
  }
}
@media only screen and (max-width: 480px) {
  .counter-area .counter-list ul {
    overflow: hidden;
    vertical-align: middle;
    margin: -20px;
  }
}
.counter-area .counter-list ul li {
  display: inline-block;
  padding: 0 12px;
}
@media only screen and (max-width: 480px) {
  .counter-area .counter-list ul li {
    width: 50%;
    float: left;
    padding: 20px;
  }
}
.counter-area .counter-list ul li span {
  display: inline-block;
  width: 95px;
  height: 95px;
  line-height: 93px;
  border: 1px dashed #fff;
  position: relative;
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  margin: 0 0 20px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
}
.counter-area .counter-list ul li span:after {
  content: '';
  position: absolute;
  left: 6px;
  top: 6px;
  right: 6px;
  bottom: 6px;
  border: 1px dashed #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
}
.counter-area .counter-list ul li p {
  margin: 0;
  text-transform: capitalize;
  color: #fff;
}
.counter-area .counter-list ul li:first-child {
  padding-left: 0;
}
.counter-area .counter-list ul li:last-child {
  padding-right: 0;
}

/*Glory Edit end**/
.glitterText {
  background: url("../images/sparkle.gif") no-repeat;
  background-size: cover;
  background-position: 10px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 140px;
  /*font-family: "youreinvited", cursive;*/
  /*font-family: "monsieur_la_doulaiseregular", cursive;*/
  /*font-family: Clicker Script;*/
  font-family: "Alex Brush", cursive;
  /*font-weight: bold;*/
}
.glitterText h2 {
  background: url("../images/sparkle.gif") repeat;
  background-position: 10px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30%;
  font-family: "Alex Brush", cursive;
}


/**Sparkle**/

@media screen and (min-width: 320px){
  .glitterText{
    font-size: 39px;
	  font-family: "Alex Brush", cursive;
  }

  .glitterText h2{
    font-size: 55%;
  }
}

@media screen and (min-width: 375px){
  .glitterText{
    font-size: 48px;
	  font-family: "Alex Brush", cursive;
  }

  .glitterText h2{
    font-size: 55%;
  }
}

@media screen and (min-width: 425px){
  .glitterText{
    font-size: 55px;
	  font-family: "Alex Brush", cursive;
  }

  .glitterText h2{
    font-size: 55%;
  }
}

@media screen and (min-width: 768px) {
	.glitterText
	{
    font-size: 100px;
	  font-family: "Alex Brush", cursive;
	}
	.glitterText h2 {
    font-size: 35%;
	  font-family: "Alex Brush", cursive;
	}

}

@media screen and (min-width: 1024px) {
  .glitterText{
    font-size: 120px;
  }

  .glitterText h2{
    font-size: 45%;
  }
}

/*End Intro Text*/
.section-heading {
  float: left;
  width: 100%;
  /*padding-bottom: 50px;*/
  margin-bottom: 40px;
  clear: both;
}
.section-heading.svg-sm-2 .svg {
  height: 150px;
  margin-bottom: 0;
  padding: 0;
}
.section-heading.svg-sm .svg {
  height: 180px;
  margin-bottom: -80px;
  padding: 0;
}
.section-heading.colored .svg {
  fill: #FF847C;
}
.section-heading h2 {
  font-size: 80px;
  color: #e09ea2;
  display: block;
  padding-bottom: 20px;
  line-height: 1.5;
}
@media screen and (max-width: 768px) {
  .section-heading h2 {
    font-size: 40px;
  }
}
.section-heading h3 {
  font-weight: 300;
  line-height: 1.5;
  color: #929292;
}
@media screen and (max-width: 768px) {
  .section-heading h3 {
    font-size: 24px !important;
    line-height: 34px;
  }
}

.btn {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#couple,
#countdown,
#groom-bride,
#story,
#people,
#when-where,
#started,
#gallery,
#testimonials,
#press {
  /*padding: 5em 0;*/
  padding: 2em 0;
}
@media screen and (max-width: 480px) {
  #couple,
  #countdown,
  #groom-bride,
  #story,
  #people,
  #when-where,
  #started,
  #gallery,
  #testimonials,
  #press {
    padding: 1em 0 0em 0;
  }
}

.bg {
  background: rgba(0, 0, 0, 0.03);
}

.cover,
.hero {
  position: relative;
  height: 800px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .cover,
  .hero {
    height: 700px;
  }
}

.overlay {
  position: absolute !important;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.78);
}

.cover,
.video-hero {
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
  .cover,
  .video-hero {
    height: inherit;
    padding: 3em 0;
  }
}
.cover .display-t,
.video-hero .display-t {
  display: table;
  height: 800px;
  width: 100%;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 768px) {
  .cover .display-t,
  .video-hero .display-t {
    height: 600px;
  }
}
.cover .display-tc,
.video-hero .display-tc {
  display: table-cell;
  vertical-align: middle;
}
.cover .display-tc .holder,
.video-hero .display-tc .holder {
  color: #fff;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 10px;
}
.cover .display-tc .holder span,
.video-hero .display-tc .holder span {
  position: relative;
}
.cover .display-tc .holder span:before, .cover .display-tc .holder span:after,
.video-hero .display-tc .holder span:before,
.video-hero .display-tc .holder span:after {
  position: absolute;
  top: 49%;
  width: 100px;
  height: 2px;
  background: #fff;
  content: '';
}
.cover .display-tc .holder span:before,
.video-hero .display-tc .holder span:before {
  left: -110px;
}
.cover .display-tc .holder span:after,
.video-hero .display-tc .holder span:after {
  right: -110px;
}
@media screen and (max-width: 768px) {
  .cover .display-tc .holder,
  .video-hero .display-tc .holder {
    letter-spacing: 2px;
  }
  .cover .display-tc .holder span,
  .video-hero .display-tc .holder span {
    position: relative;
  }
  .cover .display-tc .holder span:before, .cover .display-tc .holder span:after,
  .video-hero .display-tc .holder span:before,
  .video-hero .display-tc .holder span:after {
    width: 50px;
    height: 2px;
  }
  .cover .display-tc .holder span:before,
  .video-hero .display-tc .holder span:before {
    left: -60px;
  }
  .cover .display-tc .holder span:after,
  .video-hero .display-tc .holder span:after {
    right: -60px;
  }
}
.cover .display-tc h2,
.video-hero .display-tc h2 {
  color: #fff;
  font-size: 80px;
  margin-bottom: 20px;
  font-weight: 300 !important;
}
.cover .display-tc h2 strong,
.video-hero .display-tc h2 strong {
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .cover .display-tc h2,
  .video-hero .display-tc h2 {
    font-size: 60px;
  }
}
.cover .display-tc p,
.video-hero .display-tc p {
  color: #fff;
  font-weight: 400;
  font-size: 55px;
  letter-spacing: 10px;
  font-family: "clicker script", cursive;
}
@media screen and (max-width: 768px) {
  .cover .display-tc p,
  .video-hero .display-tc p {
    color: #fff;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 10px;
    font-family: "clicker script", cursive;
  }
}

.cover .display-tc .svg-sm .svg,
.video-hero .display-tc .svg-sm .svg {
  height: 180px;
  margin-bottom: 0;
}
.cover .display-tc .colored .svg,
.video-hero .display-tc .colored .svg {
  fill: #fff;
}

#groom-bride{
  background: #fff  url(../images/bg.jpg) no-repeat center center;
}

#slider-hero {
  min-height: 800px;
  background: #fff url(../images/loader.gif) no-repeat center center;
}
#slider-hero .flexslider {
  border: none;
  z-index: 1;
  margin-bottom: 0;
}
#slider-hero .flexslider .slides {
  position: relative;
  overflow: hidden;
}
#slider-hero .flexslider .slides li {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  min-height: 770px;
  position: relative;
}
#slider-hero .flexslider .slides li:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
#slider-hero .flexslider .flex-control-nav {
  bottom: 7em;
  z-index: 1000;
}
#slider-hero .flexslider .flex-control-nav li a {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: none;
  width: 12px;
  height: 12px;
  cursor: pointer;
}
#slider-hero .flexslider .flex-control-nav li a.flex-active {
  cursor: pointer;
  background: #ff847c;
}
#slider-hero .flexslider .flex-direction-nav {
  display: none;
}
#slider-hero .flexslider .slider-text {
  display: table;
  opacity: 0;
  min-height: 800px;
  z-index: 9;
}
#slider-hero .flexslider .slider-text > .slider-text-inner {
  display: table-cell;
  vertical-align: middle;
  height: 800px;
}
#slider-hero .flexslider .slider-text > .slider-text-inner h1, #slider-hero .flexslider .slider-text > .slider-text-inner h2 {
  margin: 0;
  padding: 0;
  color: white;
}
#slider-hero .flexslider .slider-text > .slider-text-inner h1 {
  margin-bottom: 20px;
  font-size: 80px;
  line-height: 1.3;
  font-weight: 300;
}
@media screen and (max-width: 768px) {
  #slider-hero .flexslider .slider-text > .slider-text-inner h1 {
    font-size: 30px;
  }
}
#slider-hero .flexslider .slider-text > .slider-text-inner .holder {
  color: #fff;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-weight: 400;
}
#slider-hero .flexslider .slider-text > .slider-text-inner .holder span {
  position: relative;
}
#slider-hero .flexslider .slider-text > .slider-text-inner .holder span:before, #slider-hero .flexslider .slider-text > .slider-text-inner .holder span:after {
  position: absolute;
  top: 49%;
  width: 100px;
  height: 2px;
  background: #fff;
  content: '';
}
#slider-hero .flexslider .slider-text > .slider-text-inner .holder span:before {
  left: -110px;
}
#slider-hero .flexslider .slider-text > .slider-text-inner .holder span:after {
  right: -110px;
}
@media screen and (max-width: 768px) {
  #slider-hero .flexslider .slider-text > .slider-text-inner .holder {
    letter-spacing: 2px;
  }
  #slider-hero .flexslider .slider-text > .slider-text-inner .holder span {
    position: relative;
  }
  #slider-hero .flexslider .slider-text > .slider-text-inner .holder span:before, #slider-hero .flexslider .slider-text > .slider-text-inner .holder span:after {
    width: 50px;
    height: 2px;
  }
  #slider-hero .flexslider .slider-text > .slider-text-inner .holder span:before {
    left: -60px;
  }
  #slider-hero .flexslider .slider-text > .slider-text-inner .holder span:after {
    right: -60px;
  }
}
#slider-hero .flexslider .slider-text > .slider-text-inner h2 {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 40px;
  font-family: "Source Sans Pro", Arial, sans-serif;
}
#slider-hero .flexslider .slider-text > .slider-text-inner h2 a {
  color: rgba(255, 255, 255, 0.5);
}
#slider-hero .flexslider .slider-text > .slider-text-inner .date {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 10px;
}
#slider-hero .flexslider .slider-text > .slider-text-inner .date span {
  padding: 5px 20px;
  border: 1px solid #fff;
}
#slider-hero .flexslider .slider-text > .slider-text-inner .btn {
  padding: 18px 30px !important;
  color: #fff;
  border: none !important;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#slider-hero .flexslider .slider-text > .slider-text-inner .btn:hover {
  background: #FF847C !important;
  -webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
  box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
}

/*--------------------------------------------------------------
# Couple Section
--------------------------------------------------------------*/


#couple img {
  /*margin-bottom: 20px;*/
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#couple h2 {
  font-family: "Alex Brush", cursive;
  color: #000000;
  font-weight: 400;
  font-size: 60px;
  margin: 0;
}
#couple h3 {
  font-size: 33px;
  font-family: "Alex Brush", cursive;
  color: #000000;
  font-weight: bold;
}

#couple p{
  font-family: "youreinvited", cursive;
  font-size: 30px;
  padding-bottom: 0px;
}

#couple .countdown strong{
  color: #000;
}

#couple .emphasize{
  font-family: "Alex Brush", cursive;
  font-size: 58px;
  display: inline;
}
@media screen and (max-width: 768px) {
  #couple h2 {
    font-size: 34px;
  }
  #couple h3 {
    font-size: 30px;
    padding-bottom: 1em;
  }
  #couple p{
    font-size: 23px;
  }
  #couple .emphasize{
    font-size: 55px;
    display: inline;
  }
}
#couple span {
  color: #FF847C;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-size: 14px;
  border: 1px solid #ff847cc2;
  padding: 2px 5px;
}
#couple .amp-center {
  font-size: 60px;
  margin-top: 100%;
  color: #ff847cc2;
}
@media screen and (max-width: 768px) {
  #couple .amp-center {
    font-size: 40px;
  }
}
#couple .amp-center .colored .svg {
  fill: #ff847cc2;
}
.couple-row{
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.bg {
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}



/*--------------------------------------------------------------
# Countdown Section
--------------------------------------------------------------*/
#countdown {
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  z-index: 0;
  width: 100%;
}
#countdown .section-heading {
  margin-bottom: 0 !important;
}
#countdown .section-heading h2 {
  color: #fff;
}
@media screen and (max-width: 768px) {
  #countdown .section-heading h2 {
    font-size: 30px;
  }
}
#countdown .section-heading .datewed {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.7);
}
#countdown .section-heading.svg-sm .svg {
  height: 180px;
  margin-bottom: -50px;
  padding: 0;
}
#countdown .section-heading.colored .svg {
  fill: #fff;
}
#countdown .overlay {
  position: absolute !important;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: rgba(0, 0, 0, 0.4);
}
#countdown .countdown {
  margin-bottom: 0;
  font-size: 80px;
  color: #fff;
}
#countdown .countdown span {
  margin: 0 30px;
  display: inline-block;
  font-family: "Clicker Script", cursive;
}
#countdown .countdown small {
  display: block;
  font-size: 14px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#countdown .display-over {
  z-index: 2;
}

.couple {
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 40px;
  margin-top: 110px;
}
.couple.groom {
  position: relative;
  z-index: 0;
}
.couple.groom:after {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  content: '';
  background: #f4f3e2;
  z-index: -1;
}
.couple.bride {
  position: relative;
  z-index: 0;
}
.couple.bride:after {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  content: '';
  background: #fef6f8;
  z-index: -1;
}
.couple img {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: -190px;
  border: 10px solid #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.couple .desc {
  z-index: 1;
}
.couple .desc h2 {
  color: #FF847C;
  font-size: 40px;
  margin-bottom: 30px;
}

/*--------------------------------------------------------------
# Story Section
--------------------------------------------------------------*/

#story h2{
  padding: 0;
  margin: 0;
}

#story p{
  font-family: "youreinvited", cursive;
}

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline:before {
  top: 30px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 1px;
  border-right: 1px dashed rgb(0, 0, 0);
  left: 50%;
  margin-left: 0px;
}
@media screen and (max-width: 768px) {
  .timeline:before {
    margin-left: 15px;
  }
}
@media screen and (max-width: 480px) {
  .timeline:before {
    margin-left: -60px;
  }
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
.timeline > li:before, .timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 38%;
  float: left;
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 50px;
  position: relative;
  z-index: 0;
  background: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 10px 8px 0px #00000026;
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 80px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid rgba(0, 0, 0, 0.05);
  border-right: 0 solid rgba(0, 0, 0, 0.05);
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 81px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";

}
@media screen and (max-width: 480px) {
  .timeline > li > .timeline-panel {
    width: 75% !important;
  }
  .timeline > li > .timeline-panel:before {
    top: 30px;
  }
  .timeline > li > .timeline-panel:after {
    top: 31px;
  }
}
.timeline > li > .timeline-panel .overlay {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  content: '';
  background: #6f6f6f9e;
  z-index: -1;
  width: initial;
}
.timeline > li > .timeline-panel .overlay.overlay-2 {
  background: #e09ea2c7;
}
.timeline > li > .timeline-badge {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  color: #fff;
  width: 200px;
  height: 200px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -100px;
  border: 10px solid #fff;
  z-index: 1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  box-shadow: 0px 10px 8px 0px #00000026;
}
@media screen and (max-width: 480px) {
  .timeline > li > .timeline-badge {
    width: 90px;
    height: 90px;
    margin-left: -20px !important;
  }
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-title {
	margin-top: 0;
    font-size: 34px;
    color: #ffffff;
    margin-bottom: 30px;
    font-family: "Alex Brush", cursive;
}

.date {
	display: block;
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000000;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
  color: #ffffff;
  font-family: "youreinvited", cursive;
  font-size: 25px;
  line-height: 30px;
}

.timeline-body > p + p {
  margin-top: 5px;
}

@media (max-width: 992px) {
  ul.timeline:before {
    left: 100px;
  }

  ul.timeline > li > .timeline-panel {
    width: calc(100% - 240px);
    width: -moz-calc(100% - 240px);
    width: -webkit-calc(100% - 240px);
  }

  ul.timeline > li > .timeline-badge {
    left: 15px;
    margin-left: 0;
    top: 16px;
  }

  ul.timeline > li > .timeline-panel {
    float: right;
    padding: 20px 20px 20px 20px;
  }

  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }

  .timeline-body > p,
  .timeline-body > ul {
    font-size: 18px;
  }
}
.greetings {
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}

/*Testing*/
h1.team-h1 {
  margin: 0;
  position: absolute;
  top: -16px;
  text-align: center;
  left: 40%;
  font-family: georgia;
  font-style: italic;
  background-color: white;
  padding: 0px 20px;
  color: #222;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

.team-container {
margin: 3em 0 3em 0;
position: relative;
}
.team-container p{
  font-family: "youreinvited", cursive;
  font-size: 30px;
}

.team-member {
  width: 16%;
  float: left;
  text-align: center;
  margin-right: 5%;
}

.team-member:last-child {margin-right: 0;}


.team-member span,
.team-member h3 {
  max-width: 200px;
  font-family: sans-serif;
  letter-spacing: -1px;
}

.team-member h3 {
    font-family: "Clicker Script", cursive;
    font-size: 34px;
    margin: 0;
}



.team-member span {
  display: block;

}
.team-photo {
  border-radius: 50%;
  text-align: center;
  margin: auto;
  max-width: 100%;
  height: auto;
  transition: 0.1s transform ease-in-out;

	margin-bottom: 20px;
  -webkit-border-radius: 60%;
  -moz-border-radius: 60%;
  -ms-border-radius: 60%;
  border-radius: 60%;

}

/* code for phone layout */
@media (max-width:850px){
  .team-member {
    width:25%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 40px;

  }
  .team-photo {
	width: 300px;
    margin: 0 auto;
    width: 80%;
	margin-bottom: 20px;
  -webkit-border-radius: 5%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;

}

}

@media (max-width:650px){
  .team-member {
    float: none;
    display: block;
    margin: 50px auto;
    width: 100%;
    text-align: center;
  }

  .team-member h3,
  .team-member span {
    margin: 15px auto;
  }
}

#groomsmen{
	background: linear-gradient(0deg,#ffffff75 ,#5251512e);
}

#groomsmen p{
  font-family: "youreinvited", cursive;
}

.team-container h2, .team-container p{
	color: #000;
}

#bridesmaids{
    background: linear-gradient(0deg,#ffffff75 ,#e09ea2);
}

#bridesmaids p{
  font-family: "youreinvited", cursive;
}

@media screen and (max-width: 480px) {
  #bridesmaids p, #groomsmen p{
    font-size: 23px;

  }

  #bridesmaids h2, #groomsmen h2{
    font-size: 45px;
  }
}


/*Testing*/

.groom-men img {
  margin-bottom: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;

}
@media screen and (max-width: 768px) {
  .groom-men img {
    width: 300px;
    margin: 0 auto;
  }
}
.groom-men h3 {
  font-family: "Clicker Script", cursive;
  font-size: 28px;
}
.groom-space{
	/*margin: 5em;*/
}

/*--------------------------------------------------------------
# When-Where Section
--------------------------------------------------------------*/
#when-where p{
  font-family: "youreinvited", cursive;
  font-size: 23px;
  margin-bottom: 0px;
}

#when-where .wed-con{

}


#when-where .wedding-events {
  background: #fff;
}
#when-where .wedding-events .wed-item{
  padding: 20px;
  margin: 0 30px 0 30px;
  display: block;
  text-align: left;
  padding: 10px 10px 10px 10px;
}

#when-where .wedding-events .wed-item span{
  color: #fff;
  letter-spacing: 0px;
  padding-left: 15px;
  font-size: 18px;
}

#when-where .wedding-events .wed-item .wed-icon{
  width: 40px;
  height: 40px;
}

@media only screen
and (width: 1024px)
and (device-width: 1024px) {
  #when-where .wedding-events .con{
        padding: 0px 20px;
  }
  #when-where .wedding-events .wed-item span{
    font-size: 13px;
  }
}

@media only screen and (width: 768px) {
  #when-where .wedding-events .wed-item span{
    font-size: 15px;
  }
  #when-where .wedding-events .con {
      display: block;
      padding: 20px 160px;
  }
}

@media only screen and (width: 425px) {
  #when-where .wedding-events .wed-item span{
    font-size: 11px;
  }

  #when-where .wedding-events .wed-item{
    padding: 5px 10px 5px 10px;
  }

  #when-where .wedding-events .con{
    margin: -30px 0 0 0;
  }
}

@media only screen
and (width: 375px)
and (device-width: 375px)  {
    #when-where .wedding-events .wed-item{
      padding: 5px 10px 5px 10px;
      margin: 0 0px 0 10px;
    }
    #when-where .wedding-events .wed-item span{
      font-size: 11px;
    }
}

@media only screen
and (width: 320px)
and (device-width: 320px)  {
  #when-where .wedding-events .wed-item{
    padding: 5px 4px 5px 4px;
    margin: 0 0px 0 0px;
  }

  #when-where .wedding-events .wed-item .wed-icon {
    width: 40px;
    height: 40px;
  }

  #when-where .wedding-events .wed-item span{
    font-size: 10.4px;
    letter-spacing: 0px;
  }
}

@media only screen
	and (min-device-width: 320px)
	and (max-device-width: 480px){
    #when-where .wedding-events .wed-item span{
      font-size: 10.4px;
      letter-spacing: 0px;
    }
}


.con {
  display: inline-grid;
  padding: 20px 20px;
  margin-top: -10px;
}
.con ul {
  display: inline-block;
}
.con ul li {
  display: block;
  margin: 0 0 15px;
  overflow: hidden;
  vertical-align: middle;
  text-align: left;
}
.con ul li:last-child {
  margin: 0;
}
.con ul li i {
  float: left;
  width: 20px;
  margin-top: 5px;
  color: #fff;
  font-size: 30px;
}
.con ul li span {
  /*float: left;*/
  padding-left: 20px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.wedding-events .ceremony-bg {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height: 400px;
}
.wedding-events .desc {
  padding: 2em;
  border: 1px solid rgba(0, 0, 0, 0.05);
  position: relative;
  z-index: 0;
  box-shadow: 0px 10px 8px 0px #00000026;
  height: 400px;
}
.wedding-events .desc:after {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  content: '';
  background: #e09ea2;
  z-index: -1;
}
.wedding-events .desc h3 {
  font-size: 40px;
  color: #fff;
  display: block;
  /*margin-bottom: 40px;*/
}
.wedding-events .desc .date {
  display: block;
}
.wedding-events .desc .date span {
  display: block;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
}
.wedding-events .desc .icon-tip {
  position: relative;
  width: 100%;
  float: left;
}
.wedding-events .desc .icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 60%;
}
.wedding-events .desc .icon i {
  color: #fff;
  padding: 15px;
  background: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .wedding-events {
    margin-bottom: 2em;
  }
  .wedding-events .desc{
    height: auto;
    padding: .5em 0em 0.5em 0em;
  }
}
@media screen and (max-width: 768px) {
  .wedding-events .desc .icon {
    position: relative;
    margin: 0;
  }
}

/*--------------------------------------------------------------------------
Map Section
----------------------------------------------------------------------------*/

@media only screen
	and (min-device-width: 320px)
	and (max-device-width: 480px)
	and (-webkit-min-device-pixel-ratio: 2){
	  #map-container{
		width: 185px;
	  }
}

@media screen
  and (min-device-width: 360px)
  and (max-device-height: 640px) {
    #map-container{
      width: 220px;
    }
}

@media only screen
	and (min-device-width: 375px)
	and (max-device-width: 667px)
	and (-webkit-min-device-pixel-ratio: 2){
  #map-container{
    width: 220px;
  }
}

@media only screen
and (min-device-width: 360px)
and (max-device-height: 640px)
and (-webkit-device-pixel-ratio: 3)  {
  #map-container{
    width: 240px;
  }
}

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 1){
  #map-container{
    height: 400px;  /* The height is 400 pixels */
    width: 500px;
    margin: 0 0px 0 -60px;
  }
}

@media only screen
and (min-device-width: 1024px)
and (max-device-width: 1366px)
and (-webkit-min-device-pixel-ratio: 2){
  #map-container{
    width: 330px;
    height: 200px;
    margin: 0 -30px;
  }
}

@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {
    #map-container{
      height: 400px;  /* The height is 400 pixels */
      height: 200px;  /* The height is 400 pixels */
      width: auto;
      margin: 0 -30px;
      position: relative; top: 0; right: 0; bottom: 0; left: 0;
    }
}

@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
    #map-container{
      height: 400px;  /* The height is 400 pixels */
      height: 200px;  /* The height is 400 pixels */
      width: auto;
      margin: 0 -30px;
      position: relative; top: 0; right: 0; bottom: 0; left: 0;
    }
}

/*--------------------------------------------------------------------------
RSVP Section
----------------------------------------------------------------------------*/
.rspv-area {
  display: block;
  position: relative;
  padding: 55px 0;
  overflow: hidden;
  vertical-align: middle;
  background: #e09ea2;
}
@media only screen and (max-width: 768px) {
  .rspv-area {
    padding: 55px 0 60px;
  }
}
.rspv-area .rspv-con {
  padding: 30px 0;
}
@media only screen and (max-width: 768px) {
  .rspv-area .rspv-con {
    text-align: center;
  }
}
.rspv-area .rspv-con p {
  /*margin-bottom: 0;*/
  color: #ffffff;
  font-family: "youreinvited", cursive;
  font-size: 25px;
  line-height: 45px;
}
@media only screen and (max-width: 480px) {
  .rspv-area .rspv-con p {
    font-size: 30px;
  }
}
 .rspv-con h2 {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 66px;
  margin: 0;
  position: relative;
  z-index: 999;
}
@media only screen and (max-width: 480px) {
  .rspv-area .rspv-con h2 {
    font-size: 50px;
  }
}
.rspv-area .rspv-con:after {
  content: '';
  position: absolute;
  left: -500px;
  top: -55px;
  bottom: -55px;
  right: 15px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
  z-index: 9;
}
@media only screen and (max-width: 992px) {
  .rspv-area .rspv-con:after {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
@media only screen and (max-width: 768px) {
  .rspv-area .rspv-con:after {
    display: none;
  }
}
.rspv-area .rspv-con:before {
  content: '';
  position: absolute;
  top: -75px;
  bottom: -75px;
  right: 90px;
  width: 30px;
  background: rgba(255, 255, 255, 0.6);
  z-index: 99;
  transform: rotate(16.5deg);
}
@media only screen and (max-width: 992px) {
  .rspv-area .rspv-con:before {
    display: none;
  }
}
.rspv-area .rspv-form {
  display: block;
  width: 100%;
}
.rspv-area .rspv-form form {
  position: relative;
  margin: 0 0 -20px;
  /*overflow: hidden;*/
  vertical-align: middle;
}
@media only screen and (max-width: 768px) {
  .rspv-area .rspv-form form {
    margin: 0;
  }
}
.rspv-area .rspv-form form fieldset {
  display: block;
  margin: 0 0 20px;
}
.rspv-area .rspv-form form fieldset label {
  display: block;
font-weight: 100;
color: #ffffff;
font-size: 16px;
letter-spacing: 1px;
margin-bottom: 0;
color: #ffffff;
font-family: "youreinvited", cursive;
font-size: 20px;
}
.rspv-area .rspv-form form fieldset input {
  display: block;
  width: 100%;
  padding: 0 15px;
  height: 50px;
  line-height: 48px;
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
  box-shadow: 0px 10px 8px 0px #00000026;
}

#phone_nr::placeholder{
  color: #ffffffad;
}
#phone_nr :-ms-input-placeholder {
  color: #ffffffad;
}
#phone_nr ::-ms-input-placeholder {
  color: #ffffffad;
}
.rspv-area .rspv-form form fieldset select {
  display: block;
  width: 100%;
  padding: 0 15px;
  height: 50px;
  line-height: 48px;
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
  cursor: pointer;
  box-shadow: 0px 10px 8px 0px #00000026
}
.rspv-area .rspv-form form fieldset select:focus {
  outline: none;
  color: #111;
}

.rspv-area .rspv-form button[type="submit"] {
  color: #e09ea2;
  font-weight: 600;
  display: block;
  background: #ffffff;
  border-color: #ffffff;
  box-shadow: 0px 10px 8px 0px #00000026;
  border: 0;
  /*padding: 8px 30px;*/
  margin-top: 40px;
}

.rspv-area .rspv-form button[type="submit"]:hover {;
  outline: none !important;
  color: #fff !important;
  background: #e9bbbe !important;
  border-color: #fff !important;
}

@media only screen
and (device-width: 768px)
and (min-device-width: 768px)
and (max-device-width: 1024px) {
  .rspv-area .rspv-form button[type="submit"] {
    margin-top: 95px;
    width: 150px;
    height: 70px;
  }
}

@media only screen
and (min-device-width: 1024px)
and (max-device-width:2560px) {
  .rspv-area .rspv-form button[type="submit"] {
    margin-top: 95px;
    width: 150px;
    height: 70px;
  }
}

#started {
  position: relative;
}
#started .section-heading {
  margin-bottom: 0 !important;
}
#started .section-heading h2 {
  color: #fff;
}
@media screen and (max-width: 768px) {
  #started .section-heading h2 {
    font-size: 30px;
  }
}
#started .section-heading h3 {
  color: rgba(255, 255, 255, 0.8);
}
#started .section-heading .datewed {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.7);
}
#started .section-heading.svg-sm .svg {
  height: 180px;
  margin-bottom: -50px;
  padding: 0;
}
#started .section-heading.colored .svg {
  fill: #fff;
}
#started .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}
#started .heading h2 {
  color: #fff;
}
#started .heading p {
  color: rgba(255, 255, 255, 0.5);
}
#started .form-control {
  background: rgba(255, 255, 255, 0.2);
  border: none !important;
  color: #fff;
  font-size: 16px !important;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#started .form-control::-webkit-input-placeholder {
  color: #fff;
}
#started .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}
#started .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}
#started .form-control:-ms-input-placeholder {
  color: #fff;
}
#started .form-control:focus {
  background: rgba(255, 255, 255, 0.3);
}
#started .btn {
  height: 54px;
  border: none !important;
  background: #FF847C;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  padding-left: 50px;
  padding-right: 50px;
}
#started .form-inline .form-group {
  width: 100% !important;
  margin-bottom: 10px;
}
#started .form-inline .form-group .form-control {
  width: 100%;
}
#started .heading {
  margin-bottom: 30px;
}
#started .heading h2 {
  margin-bottom: 0;
}

/*--------------------------------------------------------------------------
Gift Registry Section
----------------------------------------------------------------------------*/
#gifts{
  position: inherit;
  background: url(../images/reg-1.jpg) no-repeat;
  background-size:cover;
}
#gifts h2, #gifts h3, #gifts p{
	color: #fff;
}

#gifts p{
  font-size: 30px;
  font-family: "youreinvited", cursive;
  margin-bottom: 45px;
}

#gifts .gift-text h2{
  font-size: 30px;
}

#gifts .info{
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 14px;
  margin: 5px 0;

}

#gifts span, strong {
  color: #e09ea2;
}

#gifts .container{
  z-index: 2;
}

#gifts figure{
  display: block;
  position: relative;
    margin: -3em 0 2em 0;
}

#gifts figure img{
  width: 100%;
}

#gifts .reg-img figure {
  display: block;
  position: relative;
}

#gifts .reg-con {
	display: block !important;
	margin: 0 0 3.3em 0;
}

#gifts .reg-con img{
	 width:40%;
	 height: 10%;
	 padding: .5em;
}

@media screen and (max-width: 480px) {
  #gifts .reg-con {
    display: block !important;
	    margin: 0.3em 0.2em 1.3em 1.2em;
  }

  #gifts .reg-con img{
	  width: 47%;
	  height:50%;
	  padding: .2em;
  }
  #gifts p {
    font-size: 23px;
  }

  #gifts h2{
    font-size: 50px;
    margin-bottom: 0;
  }

  #gifts .gift-text h2{
    font-size: 20px;
  }
}

@media only screen
	and (min-device-width: 320px)
	and (max-device-width: 480px){
    #gifts h2{
      text-align: center;
    }
    #gifts .info{
      text-align: center;
    }
}

@media screen
  and (min-device-width: 360px)
  and (max-device-height: 640px) {
    #gifts h2{
      text-align: center;
    }
    #gifts .info{
      text-align: center;
    }
  }

@media only screen
	and (min-device-width: 375px)
	and (max-device-width: 667px){
    #gifts h2{
      text-align: center;
    }
    #gifts .info{
      text-align: center;
    }
  }

/***Gifts end***/

.person {
  text-align: center;
  margin-bottom: 40px;
  float: left;
  width: 100%;
}
.person img {
  display: block;
  margin: 0 auto;
  height: 150px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.person .name {
  font-size: 24px;
}
.person .position {
  text-transform: uppercase;
  color: #c3c3c3;
  margin-bottom: 30px;
  letter-spacing: 2px;
}

#footer {
  padding: 50px 0;
  color: #fff;
  background: #303030;
  background: rgba(0, 0, 0, 0.90);
}
#footer .copyright {
  margin-bottom: 0px;
  padding-bottom: 0;
}
#footer a{
  color: #e09ea2;
}

@media only screen and (max-width: 768px) {
  #footer {
    height: auto;
    line-height: 26px;
    padding: 50px 0;
    text-align: center;
  }
}
.footer-logo{
	display: inline-block;
}
 .footer-copyright {
  display: block;
  text-align: right;
}
@media only screen and (max-width: 768px) {
  .footer-copyright {
    text-align: center;
    margin: 20px 0 0;
  }
}
.footer-copyright p {
  margin: 0;
  color: #fff;
  margin: 30px 0 0 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
}

.btn {
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn.btn-primary {
  background: #FF847C;
  color: #fff;
  border: none !important;
  border: 2px solid transparent !important;
}
.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
  box-shadow: none;
  background: #FF847C;
}
.btn:hover, .btn:active, .btn:focus {
  outline: none !important;
  color: #fff !important;
  background: #e09ea2 !important;
  border-color: #fff !important;

}
.btn.btn-default:hover, .btn.btn-default:focus, .btn.btn-default:active {
  border-color: transparent;
}

.social {
  padding: 0;
  margin: 0;
  display: inline-block;
  position: relative;
  width: 100%;
}
.social li {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}
.social li a {
  font-size: 16px;
  display: table;
  width: 40px;
  height: 40px;
  margin: 0 4px;
}
.social li a i {
  display: table-cell;
  vertical-align: middle;
}
.social li a:hover, .social li a:active, .social li a:focus {
  text-decoration: none;
  border-bottom: none;
}
.social li a.social-box {
  background: #FF847C;
  color: #fff;
}
.social li a.social-circle {
  background: #FF847C;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.social li a:hover {
  background: #393e46 !important;
}
.social.social-box a {
  background: #FF847C;
  color: #fff;
}
.social.social-circle a {
  background: #FF847C;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.js .to-animate,
.js .to-animate-2,
.js .single-animate {
  opacity: 0;
}

@media screen and (max-width: 480px) {
  .col-xxs-12 {
    float: none;
    width: 100%;
  }
}

.row-bottom-padded-lg {
  padding-bottom: 7em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-lg {
    padding-bottom: 2em;
  }
}

.row-bottom-padded-md {
  padding-bottom: 4em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-md {
    padding-bottom: 2em;
  }
}

.row-bottom-padded-sm {
  padding-bottom: 2em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-sm {
    padding-bottom: 2em;
  }
}

.form-control {
  box-shadow: none;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 54px;
  font-size: 18px;
  font-weight: 300;
}
.form-control:active, .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #FF847C;
}

/*
.js .animate-box {
  opacity: 0;
}

.animated {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}*/
